* {
	box-sizing: border-box;
}
html {
	font-family: 'Crimson Text',serif;
	font-size: 16px;
	color: #333;
}
body {
    margin: 0;
}

@media screen and (max-width: 768px) {
	html {
		font-size: 13px;
	}
	header h1 {
		margin-top: 0;
	}
}


header {
	text-align: center;
	margin-bottom: 3em;
	background: hsl(40, 3%, 40%);
	padding: 1em 1em 0.1em 1em;
	background-image: url('ebru.jpg');
	background-size: cover;
	background-position: bottom;
}

header h1 {
	font-size: 4rem;
	font-family: Rye;
	font-weight: normal;
	margin-top: 0;
}

header h1 a {
	text-decoration: none;
	color: hsl(300,50%,100%);
	text-shadow: 2px 5px 1px black;
	word-break: break-word;
}

main {
    padding: 0 2em;
}

footer {
    margin-top: 5rem;
    font-size: 0.8rem;
    color: #555;
    text-align: center;
}

.btn {
	border: none;
	padding: 0.5em 1em;
	display: inline-block;
	background: hsl(240,40%,70%);
	color: white;
	text-decoration: none;
	margin: 0.1em;
	border-radius: 0.1em;
	text-align: center;
}

.btn.big {
	font-size: 2em;
}

.btn:hover {
	background: hsl(240,40%,80%);
}

.btn.danger {
	background: hsl(0,40%,70%);
}

.btn.danger:hover {
	background: hsl(0,40%,80%);
}

#search input {
    border-radius: 4px 0 0 4px;
    background: white;
}
#random-entry {
	flex: 0 0 10em;
	height: 3rem;
	line-height: 2em;
	margin-left: 0;
	margin-top: 0;
	border-radius: 0 4px 4px 0;
}
@media screen and (max-width: 768px) {
    #search input, #random-entry {
        border-radius: 0;
        width: 100%;
    }
}

ul.entries {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.entries li.entry {
	margin: 1em;
	background: hsl(240,60%,93%);
	display: inline-block;
	flex-grow: 1;
	box-shadow: 0 3px 3px #ccc;
	padding: 1rem;
}

.entries li > a {
	display: inline-block;
	font-size: 1.3em;
	text-decoration: none;
	color: #111;
}
.entries li .entry-info {
    font-size: 0.9rem;
}

form .field {
	display: flex;
	margin: 1em 0;
	flex-wrap: wrap;
}
form .field :not(:last-child) {
	margin-right: 1rem;
}
form .field label {
	width: 6rem;
	text-align: right;
	line-height: 3rem;
	font-weight: bold;
	flex: 0 1 6rem;
}
form .field .form-control {
	flex: 1 1 auto;
	font-size: 2rem;
	border: none;
	background: #eee;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: 0.1em 0.5em;
	min-width: 6em;
	margin-right: 0;
	height: 3rem;
}
form .field textarea.form-control {
	font-size: 1.2rem;
	min-height: 8rem;
}
form .field .form-control.label-input {
    max-width: 6em;
    text-align: right;
}

.top {
	display: flex;
	margin: 0 0 0 auto;
	max-width: 90rem;
}
.top .pdf {
	flex: 1 0 30%;
	min-height: 600px;
}
.top .info {
	margin-right: 3em;
	flex: 1 1 50%;
	max-width: 40rem;
}
@media screen and (max-width: 768px) {
	.top {
		flex-wrap: wrap;
	}
	.top .info {
		flex: 1 0 100%;
		margin-right: 0;
	}
}
#abstract h1 {
    font-size: 2rem;
}
#abstract .author {
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.top .info .abstract {
	padding: 1rem 2rem;
	font-size: 1.2rem;
	margin: 2rem 0;
	line-height: 1.5em;
}

#show-pdf-link {
    text-align: right;
    flex: 1;
}

#bibtex pre {
	overflow-x: auto;
	white-space: pre-wrap;
	word-break: break-all;
	font-size: 0.7rem;
}

.links {
	list-style: none;
	padding: 0;
}

.link {
	margin: 0.5em 0;
	border-bottom: 2px solid hsl(240,40%,95%);
	padding: 0.5em;
	background: hsl(240,40%,97%);
}

.link a {
	text-decoration: none;
	word-break: break-all;
}

.fields dt {
    font-family: monospace;
}
.fields dd ~ dt {
	margin-top: 0.5rem;
}
.fields dt ~ dd {
	margin-top: 0.25rem;
}
.dates {
    font-weight: normal;
    color: #555;
    margin:0;
    padding:0;
    list-style: none;
}
.dates li ~ li::before {
	content: ' \00b7 ';
	margin: 0 0.3em;
	font-weight: bold;
}
.dates li {
	display: inline-block;
}

section#bibtex {
	margin-top: 6rem;
}
#search .field {
    justify-content: flex-end;
}
#introduction {
    max-width: 50rem;
    margin: 1rem auto 3rem auto;
    font-size: 1.3rem;
}