<!doctype html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1,width=device-width,maximum-scale=1">
		<meta name="charset" content="utf-8">
		<title>{% block title %}{{settings.site_title}}{% endblock title %}</title>
        <script>
            MathJax = {
                loader: {load: ['[tex]/texhtml']},
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']]
                }
            };
        </script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4.0.0-beta.7/tex-mml-chtml.js"></script>
		<link rel="stylesheet" href="{{root}}static/style.css"></link>
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{reverse('rss')}}" title="Interesting Esoterica">
		{% block stylesheets %}{% endblock stylesheets %}
	</head>
	<body>
		{% block body %}
		<header>
			<h1><a href="{{root}}">{{settings.site_title}}</a></h1>
			<form id="search"  method="GET" action="{{root}}">
				<div class="field">
					<input class="form-control" type="text" name="q" value="{{query}}" placeholder="Search">
					<a id="random-entry" class="btn" href="{{reverse('random_entry')}}">I'm feeling scholarly</a>
				</div>
			</form>
		</header>
        <main>
		{% block content %}
		{% endblock content %}
        </main>
        <footer>
            {% if logged_in %}
                <p>Logged in</p>
            {% else %}
				<p><a href="{{reverse('login')}}">Log in</a></p>
            {% endif %}
			<p>Powered by <a href="http://github.com/christianp/bib-site">bib-site</a>, created by clp.</p>
        </footer>
		{% endblock body %}
		{% block scripts %}{% endblock scripts %}
	</body>
</html>
