{% extends "base.html" %}

{% block content %}
<form method="POST" action="">
	<div class="field">
		<label>
			Type
		</label>
		<select name="type" class="form-control">
			{% for option,text in form.fields.type.options %}
				<option {% if option==form.data.type %}selected{% endif %} value="{{option}}">{{text}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="field">
		<label>
			Key
		</label>
		<input type="text" name="key" class="form-control" value="{{form.data.key}}">
	</div>
	<div class="field">
		<label>
			Title
		</label>
		<input type="text" name="title" class="form-control" value="{{form.data.title}}">
	</div>
	<div class="field">
		<label>
			URL
		</label>
		<input type="text" name="url" class="form-control" value="{{form.data.url}}">
	</div>
	<div class="field">
		<label>
			Author(s)
		</label>
		<input type="text" name="author" class="form-control" value="{{form.data.author}}">
	</div>
	<div class="field">
		<label>
		    Abstract
		</label>
        <textarea name="abstract" class="form-control">{{form.data.abstract}}</textarea>
	</div>
	<div class="field">
		<label>
		    Comment
		</label>
        <textarea name="comment" class="form-control">{{form.data.comment}}</textarea>
	</div>
    <h2>Extra fields</h2>
    <div id="extra-fields">
    {% for subform in form.data.extra_fields %}
	{% if not subform.name in ["abstract","comment"] %}
    <div class="field">
        <input type="text" name="extra_fields-{{loop.index-1}}-name" class="label-input form-control" value="{{subform.name}}">
        <input type="text" name="extra_fields-{{loop.index-1}}-value" class="form-control" value="{{subform.value}}">
        <button type="button" class="btn delete-field">x</button>
	</div>
	{% endif %}
    {% endfor %}
    </div>
    <p><button class="btn" type="button" id="add-field">Add a field</button></p>
    <p><button class="btn big" type="submit">Submit</button></p>
</form>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{{root}}static/extra_fields.js"></script>
{% endblock scripts %}
