{% extends "base.html" %}

{% block title %}{{entry.title}} - {{ parent() }}{% endblock title %}

{% block content %}
<div class="top">
	<div class="info">
		<h1>{{entry.title}}</h1>
		<h2 class="author">{{entry.fields['author']}}</h2>
		{% if logged_in %}
		<p>
		<a class="btn danger" href="{{reverse('delete_entry',{'key':entry.key})}}">Delete</a> 
		<a class="btn" href="{{reverse('edit_entry',{'key':entry.key})}}">Edit</a>
		</p>
		{% endif %}
		{% if entry.fields['abstract'] %}
		<blockquote class="abstract">
			{{entry.fields['abstract']}}
		</blockquote>
		{% endif %}

		<ul class="links">
			{%for url in entry.urls %}
			<li class="link"><a href="{{url}}">{{url}}</a></li>
			{% endfor %}
		</ul>
		<div class="fields">
			<dl>
				{% for key,value in entry.fields %}
				{% if (not (key in ['abstract','title','url','author'])) and value %}
				<dt>{{key}}</dt>
				<dd>{{value}}</dd>
				{% endif %}
				{% endfor %}
			</dl>
		</div>
		<hr>
		<pre>{{entry.as_bib}}</pre>
	</div>
	{% if entry.pdf is not null %}
		{% if show_pdf %}
		<iframe class="pdf" src="{{entry.pdf}}"></iframe>
		{% else %}
		<p><a href="?show_pdf=true">Show PDF</a></p>
		{% endif %}
	{% endif %}
</div>
{% endblock content %}
